* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
}
.left {
  width: 100%;
}
.left-hide {
  width: 60%;
}
.header {
  width: 100%;
  background-color: #39aebc;
  color: #fff;
}
.header-hide {
  background-color: #67a6ae;
}

.header p,
.header-hide p {
  color: #fff;
  padding: 20px 30px;
}
.close-btn {
  cursor: pointer;
  padding: 2px !important;
  margin-right: 30px;
}
.close-btn p {
  padding: 0 !important;
}
.right .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: 1px solid;
  cursor: pointer;
}

.popup_show button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.popup_show {
  display: flex;
  padding: 20px 0;
  height: 86vh;
  flex-direction: column;
  align-items: center;
}

.modal-bg {
  background-color: rgb(224, 225, 225);
}

.right {
  width: 40%;
  position: relative;
}
.pop-up {
  padding: 0 30px;
}
.pop-up .saving-segment {
  height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saving-segment {
  padding-top: 20px;
}

.saving-segment input {
  margin: 20px 0;
  padding: 10px 10px;
  outline: none;
  width: -webkit-fill-available;
}
.saving-segment p {
  font-size: 20px;
}

.saving-segment select {
  padding: 10px 10px;
  margin: 20px 0;
  width: 100%;
}

.selected-schemas {
  border: 1px solid #72bbff;
  padding: 0 20px;
  margin-top: 20px;
  overflow-y: scroll;
  height: 10rem;
}

.selected-schemas input {
  width: fit-content;
}
.selected-schemas div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.selected-schemas button {
  padding: 15px 20px;
  font-size: 20px;
  border: 1px solid black !important;
}
.selected-schemas button hr {
  width: 15px;
  height: 2px;
  background-color: red;
}

.add-schema-btn a {
  color: #41b494;
}

.close-btns {
  position: absolute;
  bottom: 0;
  padding: 35px 0;
  width: 100%;
  display: flex;
  gap: 20px;
  background: #f6f6f6;
}

.close-btns :nth-child(1) {
  background-color: #41b494;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 5rem;
}
.close-btns :nth-child(2) {
  color: red;
  border: none;
  border-radius: 5px;
}
